/* в цьому файлі прописуююсть загальні стилі, що є спільними для всіх або більшості частин */


body {
  font-size: 16px;
  font-family: DM-Sans;
  font-weight: 400;
  color: var(--blackColorText-Background);
  background-color: var(--bodyBackground);
  box-sizing: border-box;
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 375px) {
    .container {
      width: 375px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @media screen and (min-width: 1440px) {
    .container {
      width: 1440px;
    }
  }


  .is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}


