<section class="favoritePart container">
    <div class="favorite-part-container">
        <h2 class="favoritePart-titel">Favorites</h2>
        <div class="favoritePartInfo">
            <!-- <div class="none-fav">
                <img class="favoritePart-img" src="./img/dumbbell.svg" alt="">
                <p class="favoritePart-text">It appears that you havent added any exercises to your favorites yet.
                    To get started, you can add exercises that you like to your favorites
                        for easier access in the future.
                </p>
            </div> -->
        </div>
    </div>
</section>
