<section class="container quote-container">
    <div class="quote-fav">
        <div class="quote-card">
            <svg class="quote-run" width="34" height="32">
                <use href="./img/sprite.svg#run"></use>
            </svg>
            <h2 class="quote-title">Quote of the day</h2>
            <svg class="quote-commas" width="32" height="32">
                <use href="./img/sprite.svg#inverted-commas"></use>
            </svg>
        </div>

        <div class="quote-info">
            <p class="quote-text">
                A lot of times I find that people who are blessed with the most talent don't ever develop that attitude,
                and the ones who aren't blessed in that way are the most competitive and have the biggest heart.
            </p>
            <h3 class="quote-author">Tom Brady</h3>
        </div>
    </div>

    <!--Image -->
    <div class="duble">
        <div class="quote-sportswear-img">
            <img srcset="./img/favorites.img/women-sportswear-torn-left_desc@1x.jpg 360w, ./img/favorites.img/women-sportswear-torn-left_desc@2x.jpg 720w"
                sizes="(min-width: 1158px) 360px, (min-width: 768px) 360px, (min-width: 428px) 360px, 100vw"
                src="./img/favorites.img/women-sportswear-torn-left_desc@1x.jpg" alt="women-sportswear-torn-left"
                width="360" loading="lazy" />
        </div>


        <!--Daily norm of sports-->
        <div class="motivation-sport3">
            <div class="motivation-sport-item3-fav">
                <svg class="motivation-sport-item3-icon-fav" width="20" height="20">
                    <use href="./img/sprite.svg#mini-dumbbell"></use>
                </svg>
            </div>
            <h4 class="motivation-sport-title2-fav">110 min</h4>
            <p class="motivation-sport-text-fav">Daily norm of sports</p>
        </div>
    </div>
</section>