<section class="quote-day-norm">
    <div class="container quote-fav-container">
        <div class="quote-main">
            <div class="quote-card">
                <svg class="quote-runner" width="34" height="32">
                    <use href="./img/sprite.svg#run"></use>
                </svg>
                <h2 class="quote-title">Quote of the day</h2>
                <svg class="quote-commas" width="32" height="32">
                    <use href="./img/sprite.svg#inverted-commas"></use>
                </svg>
            </div>
    
            <div class="quote-info" id="fan-quote">
            </div>
        </div>
    
        <div class="duble">
            <!--Image -->
            <div class="quote-sportswear-img">
            </div>
            
            <!--Daily norm of sports-->
            <div class="motivation-sport3">
                <div class="motivation-sport-item3-fav">
                    <svg class="motivation-sport-item3-icon-fav" width="20" height="20">
                        <use href="./img/sprite.svg#mini-dumbbell"></use>
                    </svg>
                </div>
                <h4 class="motivation-sport-title2-fav">110 min</h4>
                <p class="motivation-sport-text-fav">Daily norm of sports</p>
            </div>
        </div>
    </div>
</section>