.motivation-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
}

.motivation-img, .motivation-sport {
    width: 335px;
    height: 269px;
    border-radius: 30px;
    position: relative;
}

.motivation-sport-item-icon {
    fill: var(--bodyBackground);
}

.motivation-img {
    background-image: image-set(
        url('../../img/daly-norm-section/women-sportswear-mob@sm1x.jpg') 1x,
        url('../../img/daly-norm-section/women-sportswear-mob@sm2x.jpg') 2x
    );
    display: grid;
    place-items: center;
}

.motivation-sport {
    background-color: #1B1B1B;
    color: #fff;
}

.motivation-sport-item {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 32px;
    height: 32px;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivation-sport-title,
.motivation-sport-text,
.motivation-sport-description {
    margin-left: 70px;
}

.motivation-sport-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    padding-top: 40px;
}

.motivation-sport-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-top: 0;
    margin-bottom: 14px;
    color: #F6F6F699;
}

.motivation-sport-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    overflow: hidden;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #F6F6F699;
}

@media screen and (min-width: 768px) {
    .motivation-container {
        display: grid;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .motivation-img,
    .motivation-sport {
        width: 736px;
        height: 302px;
        border-radius: 50px;
    }

    .motivation-img {
        background-image: image-set(
            url('../../img/daly-norm-section/women-sportswear-tablet@1x.jpg') 1x,
            url('../../img/daly-norm-section/women-sportswear-tablet@2x.jpg') 2x
        );
    }

    .motivation-sport-item {
        top: 65px;
        left: 64px;
    }

    .motivation-sport-title {
        margin-left: 114px;
        padding-top: 64px;
    }

    .motivation-sport-text {
        margin-bottom: 25px;
        margin-left: 114px;
    }

    .motivation-sport-description {
        margin-right: 96px;
        margin-left: 114px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;

    }
}

@media screen and (min-width: 1440px) {
    .motivation-container {
        display: flex;
    }

    .motivation-sport,
    .motivation-img {
        width: 704px;
        height: 302px;
    }
}