.favoritePart {
    margin-left: auto;
    margin-right: auto;
}
.favorite-part-container {
    background-color: var(--greyBackground);
    border-radius: 30px;
    width: auto;
    padding: 20px 40px;
    max-width: 335px;
    min-height: 450px;
}

.favoritePart-titel {
    font-size: 32px;
    line-height: 1;
    text-align: start;
}

.favoritePartInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.favoritePart-img {
    width: 85px;
    height: 52px;
}

.favoritePart-text {
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    margin-top: 28px;
}

.fav-titel-card {
    display: flex;
    gap: 8px;
    align-items: flex-end;
  }
  
  .trash {
    cursor: pointer;
  }
  
  .icon-trash {
    fill: white;
    stroke: var(--blackColorText-Background);
  }
  

@media screen and (min-width: 375px) {
    .favoritePart {
        width: 375px;
    }
}


@media screen and (min-width: 768px) {
    .favoritePart {
                width: 768px;
    }

    .favorite-part-container {
        border-radius: 50px;
        padding: 60px 40px;
        max-width: 100%;
    }
    
    .favoritePart-titel {
        font-size: 44px;
        line-height: 1.01;
    }
    
    .favoritePartInfo {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 32px;
        column-gap: 14px;
        justify-content: flex-start

    }
    
    .favoritePart-img {
        width: 115px;
        height: 71px;
    }
    
    .favoritePart-text {
        font-size: 18px;
        line-height: 1.33;
    }
  }
  @media screen and (min-width: 1440px) {
    .favoritePart {
        width:1440px;
    }
    .favorite-part-container {
        max-width: 1408px;
    }
    
    .favoritePartInfo {
        column-gap: 20px;
        row-gap: 28px;
    }
}


.fav-gallery-card {
    background-color: #fff;
    max-width: 295px;
    padding: 12px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
.fav-gallery-card {
}
}
@media screen and (min-width: 1440px){
.fav-gallery-card {
    max-width: 400px;
    width: 100%;
}
.favorite-part-container {
    border-radius: 50px;
    padding: 64px 48px;
    max-width: 100%;
}
}

