.footer {
    margin-left: auto;
    margin-right: auto;   
}

.background-footer {
    background-color: var(--blackColorText-Background);
    background-image: url('../../img/footer-backgr.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    background-repeat: no-repeat;

    padding: 40px 20px 20px 20px;

    max-width: 335px;
    width: auto;

    margin: 0 auto;
}

.footer-logo {
    color: var(--textCardTitle);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 112.5% */ 
    letter-spacing: -0.32px;

    margin-bottom: 9px;
    cursor: pointer;
}

.footer-logo:hover{
    transform: scale(1.1);
}

.footer-social-media-list {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 36px;

    margin-bottom: 40px;
}

.footer-social-media-icon {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(246, 246, 246, 0.20);
    fill: var(--textCardTitle);
    stroke: var(--textCardTitle);
    opacity: 0.8;

    padding: 8px;
}

.footer-social-media-icon:hover,
.footer-social-media-icon:focus {
    fill: var(--colorHoverBtn);
    stroke: var(--colorHoverBtn);
    border: 1px solid var(--colorHoverBtn);
    transform: scale(1.1);
}


.footer-company-slogan {
    color: var(--textCardTitle);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 100% */
    letter-spacing: -0.64px;

    margin-bottom: 20px;

    max-width: 279px;
    width: 100%;
}

.footer-company-slogan-accent {
    color: var(--colorFooterSpan);
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.64px;
}

.footer-form {
    margin: 0 auto;
    margin-bottom: 60px;
    height: 134px;
}

.footer-form-label {
    color: var(--bodyBackground);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    max-width: 268px;
    width: 100%;
    /* 128.571% */
}

.footer-form-input {
    padding: 12px 14px 12px;
    max-width: 295px;
    width: 100%;
    height: 48px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;

    color: var(--bodyBackground);

    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 20px;
    
}

.footer-form-input::placeholder {
    color: var(--colorTextQuote);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
}

.footer-form-btn {
    padding: 12px;
    border-radius: 30px;
    background: var(--greyColorText-Background-Btn);
    border: none;
    max-width: 295px;
    width: 100%;

    color: #F6F6F6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background: var(--colorHoverBtn);
}

.footer-text-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-text {
    color: var(--bodyBackground);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 83.333% */
    letter-spacing: -0.24px;

}

.footer-text-first {
    margin-bottom: 10px;
}

/*~ ______________________________375px_________________________________ */

@media screen and (min-width: 375px) {


        .background-footer {
            padding: 40px 20px 20px 20px;
            
        }


}

/*~ ______________________________768px_________________________________ */

  @media screen and (min-width: 768px) {

    .background-footer {
            background-image: url('../../img/footer-backgr-tablet.jpg');
            padding: 66px 41px 32px 48px;
    
            max-width: 736px;
            width: 100%;
    
            box-sizing: border-box;

            border-radius: 50px;
            
        }

        .footer-social-media-icon {
            width: 28px;
            height: 28px;
        }

        .footer-tablet-flex{
            display: flex;
        }

        .footer-first-block{
            margin-right: 139px;
        }

        .footer-social-media-list{
            width: 156px;
        }


        .footer-third-block{
            display: flex;
            align-items: baseline;
            gap: 32px;
            justify-content: center;
        }

        .footer-logo{
            font-size: 28px;
            font-weight: 700;
            line-height: 28px;
            /* 100% */
            letter-spacing: -0.56px;
            margin-bottom: 30px;
            width: 150px;
        }

                .footer-social-media-list {
                    gap: 12px;
                    margin-bottom: 0;
                    height: 44px;
                }

        .footer-company-slogan{
            font-size: 54px;
            line-height: 50px;
                /* 92.593% */
                letter-spacing: -1.08px;
            margin-bottom: 32px;
            min-width: 345px;
        }

        .footer-company-slogan-accent {
            font-size: 54px;
            line-height: 50px;
                /* 92.593% */
                letter-spacing: -1.08px;
        }

    .footer-form-label {
        color: var(--bodyBackground);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 133.333% */
}

.footer-form{
    margin-bottom: 120px;
    height: 160px;
}

.footer-form-input {
    padding: 12px 14px 12px;
    max-width: 352px;
    margin-bottom: 20px;
    width: 352px;
}

.footer-form-input::placeholder {
    color: var(--colorTextQuote);
    font-size: 16px;
    line-height: 24px;
    /* 128.571% */
}

.footer-form-btn {
    max-width: 352px;

    font-size: 16px;
    line-height: 24px;

}

.footer-text{
        font-size: 14px;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: -0.28px;
}

                .footer-text-first {
                    margin-bottom: 0px;
                }


  }


/*~ ______________________________1440px_________________________________ */



  @media screen and (min-width: 1440px) {

.background-footer {
        background-image: url('../../img/footer-backgr-desk.jpg');
        padding: 64px 48px 26px ;

        max-width: 1408px;
        width: 100%;
    }


        .footer-tablet-flex{
            display: flex;
            margin-bottom: 160px;
        }

        .footer-first-block{
            margin-right: 156px;
        }

        .footer-second-block{
            display: flex;
            gap: 160px;
        }

        .footer-third-block{
            display: flex;
            align-items: baseline;
            gap: 32px;
            justify-content: center;
        }

        .footer-logo{
            margin-bottom: 30px;
        }

                .footer-social-media-list {
                    gap: 12px;
                    margin-bottom: 0;
                }

        .footer-company-slogan{
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 62px;
            /* 96.875% */
            letter-spacing: -1.28px;
            max-width: 458px;
            height: 186px;

            margin-bottom: 0;
            
        }

        .footer-company-slogan-accent {
            font-size: 64px;
                font-weight: 400;
                line-height: 62px;
                /* 96.875% */
                letter-spacing: -1.28px;
        }
        
    .footer-form{
        width: 352px;
        margin-bottom: 0;
    }

    .footer-form-label {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            /* 133.333% */
    }

    .footer-form-btn{
        width: 352px;
    }


}
