@media screen and (max-width: 767px) {
  .lock {
    overflow: hidden;
  }
}

.header {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 15;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1400px) {
    justify-content: space-around;
  }
}
.logo-link {
  display: flex;
  align-items: center;
  color: var(--blackColorText-Background);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.32px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.56px;
  }
}

.logo-link:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin: auto;
    padding: 20px;
    position: fixed;
    top: 0;
    max-width: 335px;
    max-height: 100vh;
    border-radius: 30px;
    right: -120%;
    background-color: var(--greyColorText-Background-Btn);
    transition: all 0.2s;
    z-index: 10;

    &.active {
      /* display: flex; */
      right: 0;
    }
  }

  @media screen and (min-width: 768px) {
    & > .social {
      display: none;
    }
  }
}

.social-burger {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    background-color: var(--greyColorText-Background-Btn);
    width: 233px;
    height: 52px;
    border-radius: 60px;
  }

  @media screen and (min-width: 1400px) {
    background-color: var(--greyColorText-Background-Btn);
    width: 265px;
    height: 52px;
    border-radius: 60px;
  }
}

.nav-item {
  @media screen and (max-width: 767px) {
    color: var(--whiteBackground);
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 6px 12px;
  transition: background-color 0.3s ease;
  border-radius: 30px;

  &:hover,
  &:focus {
    color: var(--blackColorText-Background);
    background-color: var(--whiteBackground);
    padding: 6px 12px;
    border: 1px solid var(--whiteBackground);
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
}

.current {
  background-color: var(--whiteBackground);
  border-radius: 30px;

  @media screen and (max-width: 767px) {
    color: var(--blackColorText-Background);
  }
}

.social-list {
  display: flex;
}
.social-item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

/**/

.menu-back-drop {
  @media screen and (max-width: 767px) {
    &.active {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
}

.menu-button-open {
  display: block;
  padding: 0;
  line-height: 0;
  border: none;
  z-index: 5;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button-open {
    display: none;
  }
}
.header-wrap-mob.index-page .logo-link {
  display: none;

  @media screen and (max-width: 767px) {
    color: var(--whiteBackground);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  }
}

.header-wrap-mob.index-page {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 200px;
}

.menu-back-drop.active .nav {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 11;
}

.menu-back-drop.active {
  position: static;
  z-index: 10;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  border: 1px solid var(--textCardTitle);
  fill: var(--textCardTitle);
  transition: border-color 0.3s, fill 0.3s;

  @media screen and (min-width: 768px) {
    border: 1px solid var(--greyColorText-Background-Btn);
    fill: var(--greyColorText-Background-Btn);

    &:hover,
    &:focus {
      border: 1px solid var(--colorHoverBtn);
      fill: var(--colorHoverBtn);
    }
  }

  @media screen and (min-width: 768px) {
    border: 1px solid var(--greyColorText-Background-Btn);
    fill: var(--greyColorText-Background-Btn);

    &:hover,
    &:focus {
      border: 1px solid var(--colorHoverBtn);
      fill: var(--colorHoverBtn);
    }
  }
}

.menu-btn-close {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    padding: 0;
    line-height: 0;
    border: none;
    z-index: 5;
    background-color: transparent;
  }
}

.menu-close {
  width: 32px;
  height: 32px;
  stroke: #f4f4f4;
}
