#exerciseModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

#exerciseModal.open {
  display: block;
}

body #exerciseModal.open {
  position: fixed;
}

#modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  /* height: 860px; */
  background-color: var(--textCardTitle);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.button-container {
  /* bottom: 40px;
  right: 20px; */
  width: 295px;
  
  margin-bottom: 40px;
  margin-top: 40px;

  position: relative;
  left: 20px;
}

#addToFavoritesBtn{
  background-color: var(--greyColorText-Background-Btn);
  color: var(--whiteBackground);
  width: 295px;
  height: 48px;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  transition: background-color 0.3s ease;
  margin-bottom: 9px;  
}

.modal-pop-svg{
  position: absolute;  
  right: 73px;
  top: 13px;
}

#addToFavoritesBtn:hover {
  background-color: var(--colorHoverBtn);
}

#giveRatingBtn {
  background-color: var(--whiteBackground);
  color: #1b1b1b;
  width: 295px;
  height: 48px;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  border: 1px solid #000000;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#giveRatingBtn:hover {
  background-color: var(--greyBackground);
}

.heart {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: 8px;

  fill: var(--greyColorText-Background-Btn);
  stroke: var(--whiteBackground);
}

.icon-close {
  width: 24px;
  height: 24px;
  fill: #1b1b1b;
  stroke: #1b1b1b;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /* position: absolute;
  top: 16px;
  right: 16px; */

  /* font-size: 24px;
  color: #000000;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  transition: color 0.3s ease; 
  pointer-events: none; */
}

.description {
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 18px;
  font-size: 14px;
  color: rgba(27, 27, 27, 0.6);
}

.gif {
  width: 295px;
  height: 258px;
  margin-top: 20px;
  margin-left: 20px;
}

.gif img {
  width: 100%;
  height: 100%;

  border-radius: 24px;
}

.text {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon-star {
  margin-left: 5px;
}

.info-block {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid rgba(27, 27, 27, 0.2);
  border-bottom: 1px solid rgba(27, 27, 27, 0.2);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* flex: 1 1 auto; */
}

.info-item {
  /* flex: 0 0 calc(20% - 20px); */
  /* margin-right: 20px; */
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 14px;
  
}
.info-item .info-text,
.info-item {
  text-transform: capitalize;
}

.info-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.info-text {
  color: rgba(27, 27, 27, 0.40);
  font-size: 12px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.modal-pop-descr{
  color: var(--blackColorText-Background);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  font-weight: bold;
}

/* -------TABLET */

@media screen and (min-width: 768px) {
  #modal {
    width: 716px;
  }

  .icon-close {
    top: 16px;
    right: 16px;
  }

  .button-container {
    width: 342px;
    margin-top: 32px;
    margin-bottom: 40px;
    display: flex;
    left: 320px;
  }

  #addToFavoritesBtn {
    width: 194px;
    font-size: 16px;
    padding: 12px 52px 12px 24px;
  }

    .modal-pop-svg {
      right: 175px;
    }

  /* .heart {
    width: 20px;
    height: 20px;
  } */

  #giveRatingBtn {
    width: 141px;
    padding: 12px 24px;
    font-size: 16px;
    margin-left: 7px;
  }

  .gif {
    margin-top: 0px;
    width: 270px;
    height: 259px;
    float: left;
    margin-right: 24px;
  }

  .description {
    margin-left: 290px;
    width: 342px;
    margin-bottom: 40px;
  }

  .info-block {
    width: 342px;
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

    .info-item{
      margin-bottom: 0;
    }

}

/* -------DESKTOP */

@media screen and (min-width: 1440px) {
  #modal {
    width: 732px;
  }

  .button-container {
    width: 342px;
    display: flex;
  }

  /* #addToFavoritesBtn {
  } */

  #giveRatingBtn {
    margin-left: 7px;
  }
}

/* ======================= */
