/* МОДАЛКА */
/* .prize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
} */
.wheel-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  color: #120e0e; /* #edae0c; */
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: gradientAnimation 5s infinite alternate;
}
.wheel-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;

  color: #120e0e; /* #edae0c; */
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: gradientAnimation 5s infinite alternate;
  padding-top: 10px;
  padding-bottom: 30px;
}

.modal-content-prize {
  /* width: 80%; */

  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  /* margin-top: 30px; */

  background-color: rgb(240, 244, 245);
  padding: 20px;
  border-radius: 8px;
}

#openModalBtnPrize {
  background-color: rgb(126, 133, 127);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 30px;
  animation: shake 0.8s infinite;
}
@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.input-get {
  padding: 12px 14px 12px;
  width: 100%;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #302f2f;
  box-sizing: border-box;
  color: #302f2f;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 250px;
}
/*  */

#closeModalPrize {
  border: none;
}

.button-get {
  background-color: black;

  cursor: pointer;

  padding: 12px;
  border-radius: 30px;
  background: var(--greyColorText-Background-Btn);
  border: none;
  max-width: 250px;
  width: 100%;

  color: #f6f6f6;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.button-get:hover {
  background-color: #2e2f2f;
}
#prizeForm {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.get-prize-container {
  display: none;
}

.congratulations-message {
  display: flex;
  text-align: center;
  margin: 0 auto;
}
#congratulationsMessage {
  max-width: 250px;
  width: 100%;
  padding-bottom: 10px;
}

#congratulationMessage {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}
#congratulationMessage1 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 8px;
}
#prizeMessage {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: rgb(126, 133, 127);
}

/* Колесо */
#myModalPrize {
  /* подключаем сетку */
  display: grid;
  /* ставим всё по центру */
  place-items: center;
  z-index: 10000000;
  /* если что-то не помещается на своё место — скрываем то, что не поместилось */
  overflow: hidden;
  box-sizing: border-box;
}
#myModalPrize {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* общий блок для всех элементов */
.deal-wheel {
  justify-content: center; /* mobile */
  /* задаём переменные блока */
  /* размеры колеса */
  --size: 280px; /* clamp(250px, 60vmin, 700px); */
  /* настройки яркости и заливки фона секторов */
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  --lg: linear-gradient(
    hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
    hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
  );
  /* добавляем позиционирование относительно других элементов */
  position: relative;
  /* подключаем сетку */
  display: grid;
  grid-gap: calc(var(--size) / 20);
  /* выравниваем содержимое блока по центру */
  align-items: center;

  /* задаём имена областей внутри сетки */
  grid-template-areas:
    'spinner'
    'trigger';
  /* устанавливаем размер шрифта */
  font-size: calc(var(--size) / 30);
  /* box-sizing: border-box; */
}

/* всё, что относится ко внутренним элементам главного блока, будет находиться в области сетки с названием spinner */
.deal-wheel > * {
  grid-area: spinner;
  box-sizing: border-box;
}

/* сам блок и кнопка будут находиться в области сетки с названием trigger и будут выровнены по центру */
.deal-wheel .btn-spin {
  grid-area: trigger;
  justify-self: center;
  box-sizing: border-box;
}

/* сектор колеса */
.spinner {
  /* добавляем относительное позиционирование */
  position: relative;
  /* подключаем сетку */
  display: grid;
  /* выравниваем всё по центру */
  align-items: center;
  /* добавляем элемент в сетку */
  grid-template-areas: 'spinner';
  /* устанавливаем размеры */
  width: var(--size);
  height: var(--size);
  /* поворачиваем элемент  */
  transform: rotate(calc(var(--rotate, 25) * 1deg));
  /* рисуем круглую обводку, а всё, что не поместится, — будет скрыто за кругом */
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;

  /* Додаємо контур */
  border: 4px solid rgb(62, 184, 119); /* Зелений контур */
  border-radius: 50%; /* Закруглюємо кут круга */
  padding: 15px; /* Задаємо відступ для контура */
  /* Градієнтний фон контура */
  background: linear-gradient(to right, #4caf50, #45a049);

  /* Тінь контура */
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5); /* Додаємо тінь, кольоровий градієнт */
}

/* всё, что внутри этого блока, будет находиться в области сетки с названием spinner */
.spinner * {
  grid-area: spinner;
  box-sizing: border-box;
}

/* текст на секторах */
.prize {
  font-weight: bold;
  /* включаем «гибкую» вёрстку */
  display: flex;
  align-items: center;

  /* задаём отступы от краёв блока */
  padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 21);

  /* устанавливаем размеры */
  width: 50%;
  height: 50%;
  /* устанавливаем координаты, относительно которых будем вращать текст */
  transform-origin: center right;
  /* поворачиваем текст */
  transform: rotate(var(--rotate));
  /* запрещаем пользователю выделять мышкой текст на секторах */
  user-select: none;
}

/* язычок */
.ticker {
  /* добавляем относительное позиционирование */
  position: relative;
  /* устанавливаем размеры */
  left: calc(var(--size) / -15);
  width: calc(var(--size) / 10);
  height: calc(var(--size) / 20);
  /* фон язычка */
  background: var(--lg);

  /* делаем так, чтобы язычок был выше колеса */
  z-index: 1;
  /* форма язычка */
  clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 50%);
  /* устанавливаем точку, относительно которой будет вращаться язычок при движении колеса */
  transform-origin: center left;
}

/* кнопка запуска колеса */
.btn-spin {
  display: inline; /*  */
  color: white;
  background: black;
  border: none;
  /* берём размер шрифта такой же, как в колесе */
  font-size: 12px;
  /* добавляем отступы от текста внутри кнопки */
  padding: 0.9rem 2rem 1rem;
  /* скругляем углы */
  border-radius: 0.5rem;
  /* меняем внешний вид курсора над кнопкой на руку*/
  cursor: pointer;
  margin-top: 15px;
}

/* если кнопка нажата и неактивна */
.btn-spin:disabled {
  display: none;
}

/* анимация вращения */
.is-spinning .spinner {
  transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}

/* анимация движения язычка */
.is-spinning .ticker {
  animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* эффект, когда колесо задевает язычок при вращении */
@keyframes tick {
  40% {
    /* чуть поворачиваем язычок наверх в середине анимации */
    transform: rotate(-12deg);
  }
}

/* анимируем выпавший сектор */
.prize.selected .text {
  /* делаем текст белым */

  /* настраиваем длительность анимации */
  animation: selected 3s ease;
}

/* настраиваем анимацию текста на выпавшем секторе по кадрам */
@keyframes selected {
  /* что происходит на 25% от начала анимации */
  25% {
    /* увеличиваем текст в 1,25 раза */
    transform: scale(1.25);
    /* добавляем тексту тень */
    text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
  }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
  }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
  }
  75% {
    transform: scale(0.98);
  }
  85% {
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  #openModalBtnPrize {
    background-color: rgb(126, 133, 127);
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 60px;
    animation: shake 0.8s infinite;
    font-size: 30px;
  }
  @keyframes shake {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  .wheel-h2 {
    font-size: 21px;
  }
  .wheel-p {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .modal-content-prize {
    /* width: 80%; */

    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  #congratulationsMessage {
    max-width: 250px;
    width: 100%;
    padding-bottom: 20px;
  }

  #congratulationMessage {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  #congratulationMessage1 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
  }
  #prizeMessage {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
  }
  .btn-spin {
    font-size: 14px;
  }
  /* Колесо */

  /* общий блок для всех элементов */
  .deal-wheel {
    --size: 350px; /* clamp(250px, 60vmin, 700px); */
  }
  /* текст на секторах */
}

@media (min-width: 1440px) {
  #openModalBtnPrize {
    background-color: rgb(126, 133, 127);
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 160px;
    animation: shake 0.8s infinite;
    font-size: 30px;
  }
  @keyframes shake {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  .wheel-h2 {
    font-size: 23px;
  }
  .wheel-p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .modal-content-prize {
    /* width: 80%; */

    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  #congratulationsMessage {
    max-width: 250px;
    width: 100%;
    padding-bottom: 20px;
  }

  #congratulationMessage {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  #congratulationMessage1 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
  }
  #prizeMessage {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
  }

  /* Колесо */

  /* общий блок для всех элементов */
  .deal-wheel {
    --size: 500px; /* clamp(250px, 60vmin, 700px); */
  }
  .btn-spin {
    font-size: 16px;
  }
  /* текст на секторах */
}
