.quote-day-norm {
    margin-left: auto;
    margin-right: auto;
}

.quote-fav-container {
    width: auto;
}

.quote-sportswear-img {
    background-image: image-set(
        url('../../img/favorites/women-sportswear-torn-left_mob@1x.jpg') 1x,
        url('../../img/favorites/women-sportswear-torn-left_mob@2x.jpg') 2x
    );
    background-position: center;
    display: grid;
    place-items: center;
    height: 272px;
    border-radius: 30px;
}

.motivation-sport3 {
    background: var(--bodyBackground);
    border-radius: 30px;
    position: relative;
    background-color: #ffffff;
    padding: 96px 101px 97px 102px;
}

.motivation-sport-item3-icon-fav {
    fill: var(--blackColorText-Background);

}

.motivation-sport-item3-fav {
    margin-bottom: 15px;
}

.motivation-sport-title2-fav .motivation-sport-text-fav {
    margin-left: 70px;
}

.motivation-sport-title2-fav {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 6px;
}

.motivation-sport-text-fav {
    font-size: 14px;
    line-height: 1.29;
}

@media screen and (min-width: 375px) {
    .quote-day-norm {
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .quote-day-norm  {
        width: 768px;
    }

    .quote-sportswear-img {
        background-image: image-set(
            url('../../img/favorites/women-sportswear-torn-left_tab@1x.jpg') 1x,
            url('../../img/favorites/women-sportswear-torn-left_tab@2x.jpg') 2x
        );

        height: 302px;
        width: 368px;
        border-radius: 50px;

    }

    .duble {
        display: flex;
    }

    .motivation-sport3 {
        border-radius: 50px;
        padding: 106px 118px 105px 118px;
    }
}

@media screen and (min-width: 1440px) {
    .quote-day-norm  {
        width: 1440px;
    }

    .quote-fav-container {
        display: flex;
        height: 302px;
    }
    
}