.quote-container {
    width: 335px;
    height: 545px;
    margin-top: 20px;

}

.quote-sportswear-img {
    height: 272px;
    background-size: 100%;
    border-radius: 30px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.quote-fav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--greyColorText-Background-Btn);
    border-radius: 30px;
    width: 295px;
    height: 272px;
}

.quote-card {
    display: flex;
    margin-bottom: 12px;
}

.quote-run {
    fill: var(--textCardTitle);
    margin-right: 12px;
}

.quote-title {
    min-width: 160px;
    color: var(--textCardTitle);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

.quote-commas {
    fill: var(--textCardTitle);
    margin-left: 61px;
}

.quote-info {
    padding-left: 44px;
}

.quote-text {
    color: var(--colorTextQuote);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;

    margin-bottom: 14px;
}

.quote-author {
    color: var(--textCardTitle);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

/*! TABLET STYLES */
@media screen and (min-width: 768px) {
    .quote-container {
        width: 736px;
        height: 604px;
        margin-top: 16px;

    }

    .duble {
        display: flex;
    }

    .quote-fav {
        align-items: flex-start;
        padding-left: 80px;
        padding-right: 80px;
        border-radius: 50px;
        width: 576px;
        height: 302px;
    }

    .quote-run {
        margin-right: 16px;
    }

    .quote-title {
        min-width: 192px;
        font-size: 24px;
        line-height: 1.33;
    }

    .quote-commas {
        width: 48px;
        height: 48px;
        position: relative;
        right: -290px;
        top: -30px;
        margin-left: 0px;
    }

    .quote-info {
        padding-left: 50px;
    }

    .quote-text {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .quote-sportswear-img {

        margin-left: auto;
        margin-right: auto;
    }
}

/*! DESKTOP STYLES  */
@media screen and (min-width: 1440px) {
    .quote-container {
        display: flex;
        width: 1408px;
        height: 302px;
    }

    .quote-fav {
        align-items: flex-start;
        padding-left: 64px;
        padding-right: 64px;
        border-radius: 50px;
    }


}





.motivation-sport3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--bodyBackground);
    border-radius: 30px;
    width: 295px;
    height: 272px;
    position: relative;


}

.motivation-sport-item3-icon-fav {
    fill: var(--blackColorText-Background);

}

.motivation-sport-item3-fav {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 32px;
    height: 32px;

    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.motivation-sport-title2-fav .motivation-sport-text-fav {
    margin-left: 70px;
}

.motivation-sport-title2-fav {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    padding-top: 40px;
}

.motivation-sport-text-fav {
    font-size: 14px;
    line-height: 1.29;
    margin-top: 0;
    margin-bottom: 14px;
    color: 1B1B1B;
}



@media screen and (min-width: 768px) {

    .motivation-sport3 {
        width: 368px;
        height: 302px;
    }

    .motivation-sport-item3-fav {
        top: 65px;
        left: 64px;
    }

    .motivation-sport-title2-fav {
        margin-left: 114px;
        padding-top: 64px;
    }

    .motivation-sport-text-fav {
        margin-bottom: 25px;
        margin-left: 114px;
    }
}

@media screen and (min-width: 1440px) {
    .motivation-sport3 {
        width: 352px;
        height: 302px;
    }
}