.skroll-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    background-color: var(--greyColorText-Background-Btn);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 4px var(--greyColorText-Background-Btn);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(100px);
}
.skroll-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.skroll-btn:hover {
    background-color: var(--colorHoverBtn)
}

.skroll-btn-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


.skroll-btn-icon {
    fill: var(--bodyBackground);
    width: 13px;
    height: 13px;
}

/* @media screen and (min-width: 768px) {
    .div-skroll-btn {
        right: 20px;
        bottom: 20px;
    }
    .skroll-btn {
        background-color: var(--greyColorText-Background-Btn);
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
    .skroll-btn-icon {
        width: 23px;
        height: 23px;
    }
} */