<section class="motivation-container">

  <div class="motivation-img">
  </div>

  <div class="motivation-sport">
      <div class="motivation-sport-item">
        <svg class="motivation-sport-item-icon" width="32" height="32">
          <use href="./img/sprite.svg#mini-dumbbell"></use>
        </svg>
      </div>
      <h4 class="motivation-sport-title">110 min</h4>
      <p class="motivation-sport-text">Daily norm of sports</p>
      <p class="motivation-sport-description">
          The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical 
          activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 
          minutes every day? 
      </p>
  </div>

</section>
