<section class="container exercises-section-container">
  <h2 class="section-title">Exercises</h2>
  <div class="search-block">
    <ul class="filter-list">
      <li class="filter-item">
        <button class="filter-button active" type="button" name="Muscles">
          Muscles
        </button>
      </li>
      <li class="filter-item">
        <button class="filter-button" type="button" name="Body parts">
          Body parts
        </button>
      </li>
      <li class="filter-item">
        <button class="filter-button" type="button" name="Equipment">
          Equipment
        </button>
      </li>
    </ul>
    <input id="search" type="search" placeholder="Search" />
  </div>
  <!-- <div class="cards-container"> -->
  <ul class="gallery"></ul>
  <!-- </div> -->
  <ul class="pagination-btn">
    <!-- <button class="pg-num-btn" type="button">1</button>
    <button class="pg-num-btn" type="button">2</button> -->
  </ul>
</section>
