<section class="exercises">
  <div class="container exercises-wraper">
    <h2 class="section-title">Exercises</h2>
    <div class="search-block">
      <ul class="filter-list">
        <li class="filter-item">
          <button class="filter-button active" type="button" name="Muscles">
            Muscles
          </button>
        </li>
        <li class="filter-item">
          <button class="filter-button" type="button" name="Body parts">
            Body parts
          </button>
        </li>
        <li class="filter-item">
          <button class="filter-button" type="button" name="Equipment">
            Equipment
          </button>
        </li>
      </ul>

      <input id="search" type="text" placeholder="Search" />
    </div>

    <ul class="gallery"></ul>
    <ul class="waist"></ul>

    <ul class="pagination-btn"></ul>
  </div>
</section>
