<section class="footer">
    <div class="container ">
        <div class="background-footer">
            <h1 class="footer-logo">energy.flow</h1>

            <ul class="footer-social-media-list">
                <li class="footer-social-media">
                    <a href="https://www.facebook.com/goITclub/">
                        <img src="" alt="facebook" class="footer-social-media-icon"></img>
                    </a>
                </li>

                <li class="footer-social-media">
                    <a href="https://www.instagram.com/goitclub/">
                        <img src="" alt="instagram" class="footer-social-media-icon"></img>
                    </a>
                </li>

                <li class="footer-social-media">
                    <a href="https://www.youtube.com/c/GoIT">
                        <img src="" alt="youtube" class="footer-social-media-icon"></img>
                    </a>
                </li>
            </ul>

            <h2 class="footer-company-slogan">Transforming your <span class="footer-company-slogan-accent">body</span>
                shape
                with us</h2>

            <form class="footer-form">
                <label class="footer-form-label">Subscribe and learn about new exercises!</label>
                <input type="text" class="footer-form-input" placeholder="Email">
                <button type="submit" class="footer-form-btn">Send</button>
            </form>

            <p class="footer-text footer-text-first">Energy Flow. All rights reserved.</p>
            <div class="footer-text-container">
                <a href="" class="footer-text">Privacy Policy</a>
                <p class="footer-text">/</p>
                <a href="" class="footer-text">Terms of Service</a>

            </div>
        </div>
    </div>
</section>