<section class="container">
    <div class="footer">
        <div class="background-footer">

            <div class="footer-tablet-flex">


                <div class="footer-first-block">
                    <a href="./index.html">
                        <h1 class="footer-logo">energy.flow</h1>
                    </a>

                    <ul class="footer-social-media-list">
                        <li class="footer-social-media">
                            <a href="https://www.instagram.com/goitclub/">
                                <svg class="footer-social-media-icon" width="20" height="20">
                                    <use href="./img/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="footer-social-media">
                            <a href="https://www.instagram.com/goitclub/">
                                <svg class="footer-social-media-icon" width="20" height="20">
                                    <use href="./img/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="footer-social-media">
                            <a href="https://www.instagram.com/goitclub/">
                                <svg class="footer-social-media-icon" width="20" height="20">
                                    <use href="./img/sprite.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="footer-second-block">
                    <h2 class="footer-company-slogan">Transforming your <span
                            class="footer-company-slogan-accent">body</span>
                        shape
                        with us</h2>

                    <form class="footer-form" method="post">
                        <label class="footer-form-label">Subscribe and learn about new exercises! </label>
                        <input name="footerInput" type="email" class="footer-form-input" placeholder="Email"
                            pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/" required>
                        <button type="submit" class="footer-form-btn">Send</button>
                    </form>

                </div>

            </div>

            <div class="footer-third-block">
                <p class="footer-text footer-text-first">Energy Flow. All rights reserved.</p>
                <div class="footer-text-container">
                    <a href="" class="footer-text">Privacy Policy</a>
                    <p class="footer-text">/</p>
                    <a href="" class="footer-text">Terms of Service</a>

                </div>


            </div>

        </div>
    </div>
</section>