<header class="header container">
  <div class="header-wrap">
    <a href="./index.html" class="logo-link">energy.flow</a>
    <div class="menu-back-drop">
      <nav class="nav" data-menu>
        <button type="button" class="menu-btn-close" data-menu-close>
          <svg width="32" height="32" aria-label="button-menu">
            <use class="menu-close" href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <!-- <div class="header-wrap-mob">
          <a href="./index.html" class="logo-link-mob">energy.flow</a>
        </div> -->
        <ul class="nav-list">
          <li class="nav-item">
            <a
              href="./index.html"
              class="nav-link"
              data-action="homepage"
              >Home</a
            >
          </li>

          <li class="nav-item">
            <a
              href="./favorite.html"
              class="nav-link current"
              data-action="favoritespage"
              >Favorites</a
            >
          </li>
        </ul>
        <div class="social">
          <ul class="social-list">
            <li class="social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="28" height="28">
                  <use href="./img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="28" height="28">
                  <use href="./img/sprite.svg#insta"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="28" height="28">
                  <use href="./img/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="social-burger">
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-link"
            target="_blank"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-link"
            target="_blank"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/sprite.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-link"
            target="_blank"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button type="button" class="menu-button-open" data-menu-open>
      <svg width="32" height="18" aria-label="button menu">
        <use class="menu-open" href="./img/sprite.svg#menu-burher"></use>
      </svg>
    </button>
  </div>
</header>
