  <div id="exerciseModal">
    <div id="modal">
      <button class="close" id="closeModalBtn">&#10006;</button>

      <div class="modal-content">
        <div id="information">
          
        </div>
      </div>

      <div class="button-container">
        <button id="addToFavoritesBtn">
          Add to favorites
          <svg class="heart">
            <use href="./img/sprite.svg#heart"></use>
          </svg>
        </button>

        <button id="giveRatingBtn">Give a rating</button>
      </div>
    </div>
  </div>