<section class="quote-container">
  <div class="container quote-main">
    <div class="quote-card">
      <svg class="quote-runner" width="34" height="32">
        <use href="./img/sprite.svg#run"></use>
      </svg>
      <h2 class="quote-title">Quote of the day</h2>
      <svg class="quote-commas" width="32" height="32">
        <use href="./img/sprite.svg#inverted-commas"></use>
      </svg>
    </div>

    <div class="quote-info" id="quote"></div>
  </div>
  <div class="quote-back-img"></div>
</section>
