/* нормалізатор та скид стилів*/
@import url('./base/modern-normalize.css'); 
@import url('./base/reset.css');

/* змінні для використання */
@import url('./base/root.css');
/* базові та загальні стилі */
@import url('./base/default.css');

/* стилі частин */
@import url('./patrials/header.css');
@import url('./patrials/hero.css');
@import url('./patrials/quote-of-the-day.css');
@import url('./patrials/exercises.css');
@import url('./patrials/daily-norm.css');
@import url('./patrials/footer.css');

@import url('./patrials/favoritePart.css');


@import url('./patrials/skroll-btn.css');
/* стилі модалок */
@import url('./patrials/modal-pop-up.css');
@import url('./patrials/modal-form.css');
