<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container exercises-section-container">
      <h2 class="title">Exercises</h2>
      <ul class="filter-list">
        <li class="filter-item">
          <button class="filter-button">Muscles</button>
        </li>
        <li class="filter-item">
          <button class="filter-button">Body parts</button>
        </li>
        <li class="filter-item">
          <button class="filter-button">Equipment</button>
        </li>
      </ul>
      <div class="cards-container"></div>
    </div>
  </body>
</html>
